* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	background-color: rgb(193, 193, 193);
}

button {
	margin: 15px;
}
	 
/* Ripple Animation */
.ripple {
	position: relative;
	padding: 24px 48px;
	border: none;
	outline: none;
	border-radius: 48px;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background-color: blue;
	overflow: hidden;
}

.ripple span {
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	width: 150px;
	height: 150px;
	opacity: 0.4;
	border-radius: 50%;
	background-color: #fff;
	animation: ripple 1.5s ease;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}
}


/* Gradient Hover Effect */

.grd {
	padding: 24px 48px;
	border: none;
	outline: none;
	border-radius: 48px;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background: linear-gradient(to right, #bb45f5, #1b5bbf, #bb45f5);
	background-size: 200% auto;
	transition: all .5s;
}

.grd:hover {
	background-position: right center;
}